<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<iframe src="/header" onload="this.before((this.contentDocument.body||this.contentDocument).children[0]);this.remove()"></iframe>

<h1>Index page</h1>
<button onclick="window.location = '/show-users'">Move to users</button>
<button onclick="window.location = '/popular-goods'">Move to goods</button>
<button onclick="window.location = '/popular-words'">Move to words</button>

<iframe src="/footer" onload="this.before((this.contentDocument.body||this.contentDocument).children[0]);this.remove()"></iframe>
</body>
</html>
<script>
    function showSomething() {
        document.querySelector('.move-span').innerText = 'Move button work!'
    }
</script>